/*Color Palette*/
/*color: #087e8b;*/
/*color: #ef946c;*/
/*color: #3c3c3c;*/
/*color: #EF6F6C;*/
/*color: #F5F5F5;*/

/*Font Styles*/
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text|PT+Sans');

html {
  height: 100%;
}
body {
  font-size: 16px;
  height: 100%;
}
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
h1 {
  color: white;
  line-height: 7rem;
  font-size: 7rem;
  letter-spacing: 0.3rem;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  margin: 9rem 0;
}

h2 {
  color: #087e8b;
  border: 3px solid #087e8b;
  border-radius: 15px;
  padding: 3rem 0;
  text-align: center;
  width: 19rem;
  margin: 2rem auto;
  font-size: 3rem;
  line-height: 1rem;
}

h3 {
}

h4 {
}

a {
  color: #81917c;
  text-decoration: none;
}

a:hover {
  color: #687664;
  text-decoration: none;
}
a:visited {
  color: #81917c;
}
a:focus {
  color: #687664;
}
a:active {
  color: #9ca898;
}

p {
  color: #3c3c3c;
  line-height: 2rem;
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 0.01rem;
}
/*Button Style*/
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow:   3px 3px 3px 0px rgba(60, 60, 60, 0.35);
    -webkit-box-shadow: 3px 3px 3px 0px rgba(60, 60, 60, 0.35);
    -moz-box-shadow: 3px 3px 3px 0px rgba(60, 60, 60, 0.35);
}
#about .btn {
  color: #F5F5F5;
  border: 3px solid #087e8b;
  background-color: #087e8b;
}
#portfolio .btn {
  color: #F5F5F5;
  border: 3px solid #3c3c3c;
  background-color: #3c3c3c;
}
#contact .btn {
  color: #F5F5F5;
  border: 3px solid #ef946c;
  background-color: #ef946c;
}
#about .btn.active {
  color: #087e8b;
  background-color: transparent;
  box-shadow:   none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
#portfolio .btn.active {
  color: #3c3c3c;
  background-color: transparent;
  box-shadow:   none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
#contact .btn.active {
  color: #ef946c;
  background-color: transparent;
  box-shadow:   none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
.btn {
  display: block;
  box-shadow:   3px 3px 3px 0px rgba(60, 60, 60, 0.35);
  -webkit-box-shadow: 3px 3px 3px 0px rgba(60, 60, 60, 0.35);
  -moz-box-shadow: 3px 3px 3px 0px rgba(60, 60, 60, 0.35);
  background-color: transparent;
  border-radius: 15px;
  padding: 2rem 0;
  text-align: center;
  width: 16rem;
  margin: 1rem auto;
  font-size: 2rem;
  line-height: 1rem;
  font-family: 'Crimson Text', serif;
  font-weight: bold;
}
.hide {
  opacity: 0;
  display: none;
  transition: opacity .75s ease;
  -webkit-transition: opacity .75s ease;
  -moz-transition: opacity .75s ease;
}
/*Left side style*/
#left-bg {
  background: url("../img/left-bg.png") no-repeat;
  background-size: cover;
  height: 726px;
}
#intro-wrapper {
  text-align: center;
  margin: 6rem 0;
}
#logo img {
  width: 35%;
  margin: 6rem 5rem 0 5rem;
}
/*Right side style*/
#right-wrapper{
  width: 30rem;
  margin: 0 auto;
}
#about p {
  font-size: 1.3rem;
  text-align: justify;
}
#about .fa-linkedin-square {
  color: #087e8b;
}
#about .fa-bitbucket-square {
  color: #ef946c;
}
#about .fa-codepen {
  color: #3c3c3c;
}
#about ul {
  text-align: center;
}
#portfolio .img-wrapper {
  margin-top: 1rem;
  border-radius: 5px;
  background: -webkit-linear-gradient(-45deg, #3c3c3c 0%,#f3f2ea 100%);
  background: linear-gradient(-45deg, #3c3c3c 0%,#f3f2ea 100%);
}
.shape {
  fill: transparent;
  stroke-dasharray: 193 257;
  stroke-dashoffset: -704;
  stroke-width: 2px;
  stroke: #3c3c3c;
}
#portfolio img {
  border-radius: 5px;
  transition-duration: 0.3s;
  opacity: 0.9;
}
#portfolio .thumbnail:hover {
  background-size: cover;
  opacity: 0.6;
  border-radius: 5px;
  border: 5px solid #f3f2ea;
  cursor: pointer;
}
#portfolio p {
  font-size: 1rem;
  line-height: 1.5rem;
}
#portfolio .img-hover {
  text-align: center;
  opacity: 1;
  -webkit-transition: opacity .75s ease;
  -moz-transition: opacity .75s ease;
}
#portfolio .img-hover:hover {
  opacity: 0.7;
}
#contact .form-control, #contact textarea {
  background-color: #F5F5F5;
  border: none;
  box-shadow: none;
}
#contact textarea {
  height: 120px;
}
#contact #submit.btn{
  color: #F5F5F5;
  border: 3px solid #ef946c;
  background-color: #ef946c;
  border-radius: 5px;
  padding: 0;
  text-align: center;
  width: 100%;
  font-size: 1rem;
  font-family: 'Crimson Text', serif;
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  margin: 1.5rem auto;
}
#contact .text-danger {
  margin-bottom: 0;
  font-size: 0.8rem;
}
#contact input {
  height: 3rem;
}
#contact label {
  font-size: 1rem;
  color: #3c3c3c;
  line-height: 0.7rem;
}
#contact ::-webkit-input-placeholder {
  color: #F5F5F5F5F5F5;
  opacity: 1;
}
#contact :-moz-placeholder {
  /* Firefox 18- */
  color: #F5F5F5F5F5F5;
  opacity: 1;
}
#contact ::-moz-placeholder {
  /* Firefox 19+ */
  color: #F5F5F5F5F5F5;
  opacity: 1;
}
#contact :-ms-input-placeholder {
  color: #F5F5F5F5F5F5;
  opacity: 1;
}
#contact i {
  font-size: 1.3rem;
  margin-top: 0.1rem;
  color: #918c7c;
  left: 0.7rem;
  text-align: center;
  position: absolute;
}
#contact .contact-info p {
  line-height: 1.8rem;
  padding-left: 2rem;
}
#contact .extra-padding {
  padding-top: 1rem;
}
/*Extra small devices (portrait phones, less than 576px)*/
/*No media query since this is the default in Bootstrap*/
/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
  h1 {
    line-height: 5rem;
    font-size: 5rem;
  }
  #right-wrapper {
    width: 19rem;
    margin: 3rem auto;
  }

}
/*Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {
  #right-wrapper {
    margin: 3rem auto;
  }

}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  h1 {
    line-height: 6rem;
    font-size: 6rem;
  }
}
/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1600px) {
  #left-bg {
    background: url(../img/left_bg.jpg) no-repeat;
    background-size: cover;
    width: 50%;
    height: 100%;
    position: absolute;
    z-index: -99999;
  }
  #right-wrapper {
    margin: 5rem auto;
    width: 50%;
    height: 100%;
    left: 120%;
    position: absolute;
  }
  #intro-wrapper {
    text-align: center;
    margin: 5rem 0;
  }
}
